<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title> SisTitulo </title>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css.map"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css.map"/>	
	<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
	<nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Logomarca" src="/images/logo_azul.png" width="180" height="54"  />
                </a>
            </div>
        </div>
    </nav>
    
    <section layout:fragment="conteudo">
		<p> Conteudo Principal</p>
	</section>
    
    <script src="/js/jquery-3.6.3.min.js" />
    <script src="/js/bootstrap.js" />
	<script src="/js/bootstrap.min.js" />
    <script src="/js/script.js" />
 </body>
</html>